POSTGRES_DB=urlshortener
POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=urlshortener
JWT_SECRET=deb342d2-4926-4126-bcef-e25cb84b8aef
FRONTEND_URL=http://localhost:3000
SHORT_BASE_URL=http://localhost:8080/r
